<p id="notice"><%= notice %></p>

<h4 class="center-align title text-uppercase mt-3">
  <%= @product.name %>
</h4>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="materialboxed">
        <%= image_tag(@product.url, :alt => @product.name, width:'290') %>
      </div>
    </div>

    <div class="col s12 m6 center-align mt-2-info">
      <p class="price">
        <span class="md-font-weight">$<%= @product.amount %></span>
      </p>
      <p>
        <strong>Quantity:</strong>
        <%= @product.quantity %>
      </p>
      <p>
        <strong>Category id:</strong>
        <%= @product.category.id %>
      </p>  
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_lab_admin_product_path(@product) %> |
<%= link_to 'Back', lab_admin_products_path %>
