<p id="notice"><%= notice %></p>

<h4 class="my-3">
  <%= @product.name %>
</h4>

<p>
  <strong>Url:</strong>
  <%= image_tag(@product.url, :alt => @product.name, width:'500') %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%= link_to 'Back', products_path %>
