<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'customers', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image/svg" href="assets/images/twitter.svg">
  <link rel="icon" type="image/svg" href="assets/images/facebook.svg">
</head>

<body class="main-background">

  <div>
    <%= render 'shared/logout' %>
  </div>

  <%= render 'shared/messages' %>

  <div>
    <%=yield%>
  </div>

</body>

</html>